    body {
        text-align: center;
        background-color: #C80E1F;
        color: magenta;
        margin: 20px;
    }
    img {
        width: 400px;
        margin: 80px;
    }
    
    #content{
        margin: 20px 0;
        background: black;
        padding: 5px;
    }
    
    #footer{
        border-bottom: 1px #ccc solid;
    }
    
    #footer p{
        text-align: right;
        text-transform: uppercase;
        font-size: 90%;
        color: white;
    }